.checkout {
    min-height: 80vh;
}

.checkout-header {
    height: 15rem;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0 2rem;
}

.checkout-header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    opacity: 0.8;
}

.checkout-header p {
    font-size: 1.2rem;
    opacity: 0.8;
}

.checkout-content {
    margin: 0 auto;
    color: black;
}

.checkout-content-left,
.checkout-content-right {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 20px;
}

.checkout-content-left-title,
.checkout-content-right-content-title {
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.checkout-form {
    width: 100%;
    margin-top: 2rem;
}

.checkout-form input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 1.2rem;
    padding-left: 2rem;
    opacity: 0.8;
    outline: none;
    font-size: 1rem;
}

.checkout-form input:focus {
    border: 1px solid rgba(161, 57, 144, 0.4);
    box-shadow: rgba(161, 57, 144, 0.4) 0px 5px 15px;
}

.checkout-submit {
    margin: 3rem 0;
    text-align: center;
}

.checkout-submit button {
    background-color: black;
    color: #f8f9fa;
    font-size: 1rem;
    opacity: 0.8;
    padding: 1.6rem 2rem;
    border-radius: 3px;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    transition: .2s linear;
}

.checkout-submit button:hover {
    transform: scale(1.05);
}

.order-item {
    display: flex;
    align-items: center;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    justify-content: space-between;
    padding: 1rem 0;
}

.order-item h3 {
    font-weight: 600;
    margin: 0;
    opacity: 0.9;
    font-size: 1rem;
}

.order-item p {
    margin-bottom: 0;
    font-size: 0.9rem;
}

.order-total {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.order-total h3 {
    font-weight: 600;
    opacity: 0.9;
}

.order-total p {
    margin-bottom: 0;
    align-self: center;
    font-size: 0.9rem;
}

.form-error {
    color: red;
    font-size: 0.9rem;
}

.delete-cart {
    font-size: 0.9rem;
    background-color: #edafaf;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media (min-width: 576px) {
    .checkout-header h1 {
        font-size: 3rem;
    }

    .checkout-header p {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .checkout-header-div-title {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .checkout-header {
        flex-direction: row;
    }

    .checkout-header h1 {
        font-size: 3.5rem;
    }

    .checkout-header p {
        font-size: 1.6rem;
    }

    .checkout-content {
        display: flex;
        flex-direction: row;
    }

    .checkout-content-left,
    .checkout-content-right {
        flex: 1;
        margin-bottom: 0;
    }

    .checkout-content-left-title,
    .checkout-content-right-content-title {
        font-size: 2rem;
    }

    .order-item h3 {
        font-size: 1.2rem;
    }

    .order-item p {
        font-size: 1.2rem;
    }

    .order-total p {
        font-size: 1.2rem;
    }

    .delete-cart {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .checkout-header h1 {
        font-size: 4rem;
    }

    .checkout-header p {
        font-size: 1.8rem;
    }
}