.footer {
    background-color: #fff;
}

.footer-content {
    height: 30rem;
    margin: 0;
}

.footer-content-item {
    color: black;
    text-align: center;
    align-self: center;
    overflow: hidden;
}

.footer-content-item:hover img {
    scale: 1.1;
}

.footer-content-item img {
    transition: .4s linear;
}

.footer-content-left img {
    width: 16rem;
    object-fit: cover;
}

.footer-content-right img {
    width: 90%;
    object-fit: cover;
    height: 120px;
}

.footer-content-item a {
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: black;
    opacity: 0.4;
    transition: .2s linear;
}

.footer-content-item a:hover {
    opacity: 0.8;
    transform: translateX(10px);
}

.on-top {
    display: flex;
    height: 6.5rem;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    position: relative;
}

.on-top::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 1px;
    background-color: rgb(51, 51, 51);
}

.on-top i {
    font-size: 1.5rem;
}

.on-top:hover {
    cursor: pointer;
    color: #bea662;
}