.information {
    margin-top: 3rem;
}

.information-content {
    margin: 0;
}

.information-top {
    padding: 0;
}

.information-top-content {
    height: 15rem;
    background-color: #f8f9fa;
    color: black;
    margin: 0;
}

.information-top-content-item,.information-bottom-left  {
    text-align: center;
    align-self: center;
}

.information-top-content-item h6 {
    font-size: 1.8rem;
}

.information-top-content-item p {
    font-size: 1.4rem;
    opacity: 0.7;
}

.information-bottom-left {
    color: black;
    height: 15rem;
    margin: 0 10rem;
}

.information-bottom-left-item {
    text-align: center;
}

.information-bottom-left-content {
    width: 100%;
    align-self: center;
}

.text-left h6 {
    font-size: 2.5rem;
}

.text-left p {
    font-size: 1.4rem;
    opacity: 0.6;
}

.text-left {
    text-align: start;
}

.text-right {
    text-align: end;
}

.text-right input {
    border-top: .1px solid rgba(0, 0, 0, .1);
    border-left: .1px solid rgba(0, 0, 0, .1);
    border-bottom: .1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    border-right: none;
    padding: 1.2rem;
    outline: none;
    width: 80%;
    font-size: 1.4rem;
}

.text-right label{
    font-size: 1.4rem;
    padding: 1.2rem;
    border: .1px solid black;
    background-color: black;
    font-style: normal;
    border-radius: 5px;
    color: aliceblue;
}

.text-right:hover label {
    cursor: pointer;
    scale: 1.05;
    transition: .2s linear;
}