.head-floor {
    position: relative;
    height: 10vh;
    background: url('/src/assets/images/ac.jpeg');
    background-repeat: no-repeat;
    background-position: start;
    background-size: cover;
}

.product-detail-content {
    color: black;
    padding: 0;
    margin-top: 16px; 
}

.product-detail-content-right {
    animation: transformright 0.8s linear 1;
}

.product-detail-content-left {
    animation: transformleft 0.8s linear 1;
}

.product-name {
    font-size: 32px;
    margin-top: 8px;
}

.slick-next:before, .slick-prev:before {
    color: #000000;    
    font-size: 24px;
}

.product-price {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 2rem 0;
}

.product-description {
    width: 100%;
    font-size: 16px;
}

.product-detail-slide {
    margin: 0 12px;
}

.product-category {
    margin: 2rem 0;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.product-category-item {
    font-weight: 500;
    font-size: 1.8rem;
}

.product-cart {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.8rem 0;
    border-radius: 5px;
    position: relative;
}

.product-cart-name {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-left: 1rem;
    width: 40%;
}

.product-cart-input {
    border: none;
    outline: none;
    padding-left: 2rem;
    width: 20%;
    font-size: 1.5rem;
}

.product-cart-add {
    width: 40%;
    border: none;
    margin-left: 0.5rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.product-cart-add-button {
    color: #fff;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 104%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    transition: .2s linear;
}

.product-cart-add-button:hover {
    scale: 1.05;
}

.description {
    animation: transformtop 0.8s linear 1;
}

.description-title {
    color: #fff;
    text-align: center;
    background-color: black;
    margin: 16px 0;
    padding: 16px 32px;
    font-size: 1.5rem;
    width: 100%;
}

.description-path {
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}

.description-content {
    margin: 16px 0;
    color: rgb(41, 40, 40);
    width: 100%;
    font-size: 14px;
}

.description-relate {
    margin: 3rem 0;
}

.description-relate-product {
    margin-top: 16px;
    animation: transformleft 0.8s linear 1;
}

@keyframes transformleft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transformright {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transformtop {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.product-detail-content-left {
    position: relative;

}

.img-child {
    position: absolute;
    top: 0; 
    left: 5%;
    display: flex;
    flex-direction: column;
}

.img-child img {
    width: 15rem;
    height: 10rem;
    margin-top: 1rem;
}

.product-detail-content-left > img {
    object-fit: contain;
    width: 100%;
    height: 30rem;
}

.product-detail-content-left {
    text-align: end;
}