.products {
    margin-top: 5rem;
}

.products-title p, .products-title h2 {
    margin-left: 4rem;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 700;
    text-align: start;
    color: #006039;
}

.products-title h2 {
    font-size: 2.5rem;
}

.products-title p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.8;
    color: black;
}

.product {
    margin: 0 5rem;
}

.product-item {
    overflow: hidden;
    height: 28rem;
    border-radius: 1.2rem;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s linear;
}

.product-item:hover img, .product-item:hover div {
    scale: 1.1;
    cursor: pointer;
}

.product-content {
    padding-top: 2rem;
}


.product-content h4, .product-content p {
    font-style: italic;
    font-size: 1.4rem;
    color: black;
    text-align: center;
}

.product-content p {
    opacity: 0.5;
}

.product-content h4 {
    font-size: 1.5rem;
}


.product-content:hover,.product-content:hover h4,.product-content:hover p {
    cursor: pointer;
    color: #bea662;   
    opacity: 1;
}