.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #1576a9;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top-btn:hover {
    background-color: #1a8fcf;
    transform: translateY(-5px);
} 