.slide-middle {
    min-height: 400px;
    margin-top: 6rem;
    background: #e6dac23d;
    padding: 5rem 0;
}

.slide-middle-content-left h2 {
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    -webkit-background-clip: text;
    color: rgb(0, 96, 57);
    ;
}

.slide-middle-content-text {
    width: 70%;
}

.slide-middle-content-left span {
    font-size: 20px;
    line-height: 1.6em;
    color: rgb(103, 103, 103);
    margin: 0 1rem;
}

.slide-middle-content-right {
    display: flex;
    align-items: center;
    justify-content: center;

}

.slide-middle-content-right img {
    min-height: 200px;
    width: 50%;
    object-fit: cover;
}

.slide-middle-content-right-box {
    overflow: hidden;
    width: 85%;
}

.hexagon-container {
    position: relative;
    height: 36vh;
    overflow: hidden;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hexagon-first {
    width: 40%;
}

.hexagon-second {
    width: 80%;
}

@media (max-width: 1500px) and (min-width: 1201px) {
    .hexagon-container {
        height: 30vh;
    }
}

@media (max-width: 1200px) {
    .slide-middle-content-right {
        margin-top: 6rem !important;
    }

    .slide-middle-content-text {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .hexagon-container {
        height: 34vh;
    }
}

@media (max-width: 899px) {
    .hexagon-container {
        height: 30vh;
    }

    .slide-middle-content-text {
        width: 85%;
    }
}

@media (max-width: 540px) {
    .hexagon-container {
        height: 30vh;
    }
}

@media (max-width: 512px) {
    .hexagon-container {
        height: 20vh;
    }
}